[Unit]
Description=Demonstration of cryptographic authentication with a MongoDB backend database

[Service]
ExecStart=/home/ec2-user/crypto-authn-demo-nosql/demo.mjs
Restart=always
User=ec2-user
Group=ec2-user
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
Environment=AWS_SECRET_ACCESS_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
Environment=AWS_ACCESS_KEY_ID=XXXXXXXXXXXXXXXXXXXX
WorkingDirectory=/home/ec2-user/crypto-authn-demo-nosql

[Install]
WantedBy=multi-user.target